@inject SignInManager<IdentityUser> SignInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bug Tracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", false)
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #5a90ad">

            <breadcrumb></breadcrumb>

            <div class="navbar-nav ml-auto">

                @await Html.PartialAsync("~/Views/Search/_SearchBox.cshtml", new SearchResultsViewModel())

                @if (SignInManager.IsSignedIn(User))
                {

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @(User.Identity?.Name ?? "N/A")
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            <a class="dropdown-item" asp-controller="Profile" asp-action="View" asp-route-id="@SignInManager.UserManager.GetUserId(User)">Profile</a>
                            <!--<form method="post" asp-action="Edit" asp-controller="Profile">
                                <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                    Edit Profile
                                </button>
                            </form>-->

                            <form class="dropdown-item" method="post" asp-action="Logout" asp-controller="Account">
                                <button type="submit" class="nav-link btn btn-link py-0" style="width:auto;color: #000000">
                                    Logout
                                </button>
                            </form>
                        </div>
                    </div>
                }
                else
                {
                    <a asp-action="Register" asp-controller="Account" class="nav-link">Register</a>
                    <a asp-action="Login" asp-controller="Account" class="nav-link">Login</a>
                }

            </div>

        </nav>
    </header>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="@Url.Content("~/lib/typeahead/typeahead.bundle.min.js")"></script>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
