@model SearchResultsViewModel

@{
    ViewBag.Title = "Search Results";
}

<h1>Search Results: @Model.SearchExpression.SearchText - @Model.SearchResults.Count</h1>

@{
    foreach(var result in Model.SearchResults){
        <div class="row col-12">
            <div class="card m-3">
                <div class="card-header">
                    <h3>@result.Title</h3>
                </div>

                <div class="card-body">
                    <p>@result.CreationTime</p>

                    <!-- Whole card links to bug report -->
                    <a asp-controller="BugReport" asp-action="ReportOverview" asp-route-id="@result.BugReportId" class="stretched-link"></a>
                </div>

            </div>
        </div>
    }
}

