@model SearchResultsViewModel

@{
    ViewBag.Title = "Search Results";
}

<!-- Collapsible advanced search region -->
<div class="advanced-search">
    <button class="btn btn-primary" data-toggle="collapse" type="button" data-target="#advancedSearchCollapse" aria-expanded="false" aria-controls="advancedSearchCollapse">
        Advanced Search
    </button>
    <div class="collapse" id="advancedSearchCollapse">
        <div class="card card-body">
            Example text - card body - advanced search tools go here.
        </div>
    </div>
</div>


<h3>Search Results: @Model.SearchExpression.SearchText - @Model.SearchResults.Count</h3>

@{
    foreach(var result in Model.SearchResults){
        <div class="row col-12">
            <div class="card m-3 w-100">
                <div class="card-header">
                    <h3>@result.Title</h3>
                </div>

                <div class="card-body">
                    <p>@result.CreationTime</p>

                    <!-- Whole card links to bug report -->
                    <a asp-controller="BugReport" asp-action="ReportOverview" asp-route-id="@result.BugReportId" class="stretched-link"></a>
                </div>

            </div>
        </div>
    }
}

