@model AssignMemberViewModel

@{
    ViewBag.Title = "Assign Members to Bug Report";
}

@section Styles {
    <link href="@Url.Content("~/css/typeahead-style.css")" rel="stylesheet" type="text/css" />
}

<h1>Assign members to bug report</h1>

@* Hidden input to make project ID accessbile inside script *@
<input id="project-id" type="hidden" asp-for="@Model.ProjectId" />

<form asp-controller="BugReport" asp-action="AssignMember" method="post" class="mt-3">
    <input id="Search" type="text" class="typeahead form-control" asp-for="@Model.MemberEmail" placeholder="Type User's Name" autocomplete="off" spellcheck="false" />

    @* Hidden member variables -- pass back to POST action method *@
    <input type="hidden" asp-for="@Model.ProjectId" />
    <input type="hidden" asp-for="@Model.BugReportId" />

    <button type="submit" class="btn btn-secondary">Assign</button>
</form>

<hr />

<h3><strong>Assigned Members</strong></h3>

@{
    foreach (var user in Model.AssignedUsers)
    {
        <form asp-controller="BugReport" asp-action="RemoveAssignedMember" method="post" class="form-group row m-3">
            <p>@user.UserName - @user.Email</p>
            <input type="hidden" asp-for="@user.Email" />
            <button type="submit" class="btn btn-danger">Remove</button>

            @* Hidden member variables -- pass back to POST action method *@
            <input type="hidden" asp-for="@Model.ProjectId" />
            <input type="hidden" asp-for="@Model.BugReportId" />
        </form>
    }
}

@* Typeahead script *@
<script src="@Url.Content("~/js/user-search-typeahead.js")"></script>
