@model OverviewBugReportViewModel

@{
    ViewBag.Title = "Bug Report Overview";
}

@* Delete bug report button *@

<h1>Title: @Model.BugReport.Title</h1>
<p>Reporter: @Model.BugReport.PersonReporting</p>
<p>Report Time: @Model.BugReport.CreationTime</p>
<p>Program Behaviour: @Model.BugReport.ProgramBehaviour</p>
<p>Details to Reproduce: @Model.BugReport.DetailsToReproduce</p>
<p>Private: @Model.BugReport.Hidden</p>
<p>Importance: @Model.BugReport.Importance</p>
<p>Severity: @Model.BugReport.Severity</p>

<a asp-controller="bugreport" asp-action="edit" asp-route-bugReportId="@Model.BugReport.BugReportId" class="btn btn-primary">Edit Bug Report</a>

<h1>Comments</h1>
@foreach (var comment in Model.BugReportComments)
{
    <div class="row col-12">
        <div class="card m-3">

            <div class="card-header">
                <h3>@comment.Author</h3>
                <a asp-controller="comment" asp-action="edit" asp-route-id="@comment.BugReportCommentId" class="btn btn-primary">Edit</a>
                <a asp-controller="comment" asp-action="delete" asp-route-id="@comment.BugReportCommentId" class="btn btn-primary">Delete</a>
            </div>

            <div class="card-body">
                <p>@comment.MainText</p>
            </div>

            <div class="card-footer">
                <p>Comment attachments - [...]</p>
            </div>

        </div>
    </div>
}

<a asp-controller="comment" asp-action="create" asp-route-bugReportId="@Model.BugReport.BugReportId" class="btn btn-primary">Post Comment</a>