@model OverviewBugReportViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = "Bug Report Overview";
}

@* Delete bug report button *@

<h1><strong>#@Model.BugReport.LocalBugReportId</strong>: @Model.BugReport.Title</h1>
<p>Reporter: @Model.BugReport.PersonReporting</p>
<p>Assigned to: @Model.AssignedMembersDisplay</p>
<p>Report Time: @Model.BugReport.CreationTime</p>
<pre>Program Behaviour: @Model.BugReport.ProgramBehaviour</pre>
<pre>Details to Reproduce: @Model.BugReport.DetailsToReproduce</pre>
<p>Private: @Model.BugReport.Hidden</p>
<p>Importance: @Model.BugReport.Importance</p>
<p>Severity: @Model.BugReport.Severity</p>

@* Disable button classes *@
@{
    const string disabledButtonClass = "btn btn-secondary disabled";
    const string enabledButtonClass = "btn btn-primary";

    var subscribeButtonClass = Model.DisableSubscribeButton ? disabledButtonClass : enabledButtonClass;
    var assignMembersButtonClass = Model.DisableAssignMembersButton ? disabledButtonClass : enabledButtonClass;
}

<a asp-controller="BugReport" asp-action="Edit" asp-route-bugReportId="@Model.BugReport.BugReportId" class="btn btn-primary">Edit Bug Report</a>
<a asp-controller="BugReport" asp-action="Subscribe" asp-route-bugReportId="@Model.BugReport.BugReportId" class=@subscribeButtonClass>Subscribe</a>
<a asp-controller="BugReport" asp-action="Delete" asp-route-bugReportId="@Model.BugReport.BugReportId" class="btn btn-primary">Delete Bug Report</a>
<a asp-controller="BugReport" asp-action="AssignMember" asp-route-bugReportId="@Model.BugReport.BugReportId" class=@assignMembersButtonClass>Assign Report</a>
<a asp-controller="BugReport" asp-action="ManageLinks" asp-route-bugReportId="@Model.BugReport.BugReportId" class="btn btn-primary">Manage Links</a>

<hr />
<h3>State History -- <span class="badge badge-success">@Model.CurrentState</span></h3>
@foreach (var state in Model.BugStates)
{
    <div class="row col-12">
        <p>@state.Time -- @Enum.GetName(typeof(StateType), state.StateType)</p>
    </div>
}
<hr />

@await Component.InvokeAsync("ActivityFeed", new { Model.Activities })

<hr />

<h3>Comments</h3>
@foreach (var comment in Model.Comments)
{
    <div class="row col-12">
        <div class="card m-3">

            <div class="card-header">
                <h3>@UserManager.FindByIdAsync(comment.AuthorId).Result.UserName -- @comment.Date</h3>
                <a asp-controller="Comment" asp-action="Edit" asp-route-id="@comment.CommentId" class="btn btn-primary">Edit</a>
                <a asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.CommentId" class="btn btn-primary">Delete</a>
            </div>

            <div class="card-body">
                <pre>@comment.MainText</pre>
            </div>

            <div class="card-footer">
                <p>Comment attachments - [...]</p>
            </div>

        </div>
    </div>
}

<a asp-controller="Comment" asp-action="Create" asp-route-bugReportId="@Model.BugReport.BugReportId" class="btn btn-primary">Post Comment</a>