@model NewMilestoneViewModel

@{
    ViewBag.Title = "New Milestone";
}

@section Styles {
    <link href="@Url.Content("~/css/typeahead-style.css")" rel="stylesheet" type="text/css" />
}

<h1>New Milestone</h1>

<div>
    <form asp-controller="Milestone" asp-action="New" method="post" class="m-3">

        <fieldset>
            <legend>New Milestone</legend>

            <!-- Title -->
            <div class="form-group">
                <label asp-for="Title" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Title" class="form-control" placeholder="Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label asp-for="Description" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Description" class="form-control" placeholder="Title" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <!-- Date picker -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Due Date: </label>
                <input id="datetimepickerRangeBegin" type="date" asp-for="@Model.DueDate" />
            </div>

            <!-- Hidden input fields -->
            <input id="project-id" type="hidden" asp-for="@Model.ProjectId" />
            <input id="local-bug-report-id" type="hidden" asp-for="@Model.LocalBugReportId" />
            <input type="hidden" asp-for="@Model.CreationTime" />

            <hr />

            @await Component.InvokeAsync("BugReportSearchSelector", new { ProjectId = Model.ProjectId, MilestoneBugReportEntries = Model.MilestoneBugReportEntries, ShowSearchBar = true, CanRemoveEntry = true })

            <hr />

            <!-- Submitting form & Cancel -->
            <div class="row mr-3">
                <div class="form-group row mr-1">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <a class="btn btn-primary" href='javascript:history.go(-1)'>Cancel</a>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
</div>
