@model MilestoneOverviewViewModel

@{
    ViewBag.Title = "Milestone Overview";
}

<h1>Milestone: @Model.Milestone.Title</h1>
<h2>Due: @Model.Milestone.DueDate</h2>
<h2>@Model.Milestone.Description</h2>

<p>@Model.MilestoneProgress.CompletedBugReports / @Model.MilestoneProgress.TotalBugReports completed</p>

<div class="progress m-3">
    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">@Model.MilestoneProgress.PercentCompleted</div>
</div>

<a asp-controller="Milestone" asp-action="Edit" asp-route-milestoneId="@Model.Milestone.MilestoneId" class="btn btn-primary">Edit</a>

<hr />

@await Component.InvokeAsync("BugReportSearchSelector", new { ProjectId = Model.Milestone.ProjectId, MilestoneBugReportEntries = Model.MilestoneBugReportEntries })
