@model OverviewProjectViewModel

@{
    ViewBag.Title = "Project Overview";
}

<h1>Project Overview - @Model.Project.Name</h1>

<a asp-controller="BugReport" asp-action="CreateReport" class="btn btn-primary">Create Bug Report</a>
<a asp-controller="Projects" asp-action="Edit" asp-route-id="@Model.Project.ProjectId" class="btn btn-primary">Edit Project</a>
<a asp-controller="Projects" asp-action="Invites" asp-route-id="@Model.Project.ProjectId" class="btn btn-primary">Invites</a>

<h3>Bug Reports</h3>
<div class="card-deck">
    @foreach (var bugReport in Model.BugReports)
    {
        <div class="row col-12">
            <div class="card m-3">
                <div class="card-header">
                    <h3>@bugReport.Title -- @bugReport.CreationTime -- @bugReport.PersonReporting</h3>
                </div>

                <div class="card-body">
                    <pre>Program Behaviour: @bugReport.ProgramBehaviour</pre>
                    <pre>Details to Reproduce: @bugReport.DetailsToReproduce</pre>
                    <p>Severity: @bugReport.Severity</p>
                    <p>Importance: @bugReport.Importance</p>
                </div>

                <div class="card-footer">
                    <p>Replies: @Model.CommentCountHandler(bugReport.BugReportId)</p>
                </div>

                @*
                    Number of replies
                    Bug report state history - closed / open, etc
                *@

                <a asp-controller="BugReport" asp-action="ReportOverview" asp-route-id="@bugReport.BugReportId" class="stretched-link"></a>
            </div>
        </div>
    }
</div>