@model IEnumerable<Project>

@{
    ViewBag.Title = "Projects List";
}

<h1>Projects List - WIP</h1>

<a asp-controller="Projects" asp-action="CreateProject" class="btn btn-primary">Create New Project</a>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>

<div class="card-deck">
    @foreach (var project in Model)
    {
    <div class="row col-12">
            <div class="card m-3">
                <div class="card-header">
                    <h3>@project.Name</h3>
                </div>

                <div class="card-body">
                    <pre>@project.Description</pre>
                    <p>Created: @project.CreationTime</p>
                    <p>Last Updated: @project.LastUpdateTime</p>

                    <!-- Display count of bug reports -->
                    @if(project.BugReports != null)
                    {
                    <p>Bug reports: @project.BugReports.Count()</p>
                    }
                    else
                    {
                        <p>Bug reports: 0</p>
                    }

                    <!-- Whole card links to project overview -->
                    <a asp-controller="Projects" asp-action="Overview" asp-route-id="@project.ProjectId" class="stretched-link"></a>
                </div>
            </div>
    </div>
    }
</div>